<!-- Developers -->
<div class="field is-grouped">
    <p class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="Find news">
    </p>
    <p class="control">
        <a class="button is-info is-medium">
        Search
        </a>
    </p>
</div>
<div class="tabs is-centered is-me">
        <ul>
          <li class="is-active"><a>All</a></li>
          <li><a>Hot</a></li>
        </ul>
      </div>

<div class="row columns is-multiline">
    <div class="column is-one-third" *ngFor="let news of newsList">
        <div class="card large">
            <div class="card-image">
                <figure class="image">
                    <img src="{{news.photo_URL}}" alt="Image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-96x96">
                            <img src="https://i.imgsafe.org/a4/a4bb9acc5e.jpeg" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4 no-padding"></p>
                        <p><span class="title is-6"><a href="http://twitter.com/#">@user identity</a></span></p>
                        <p class="subtitle is-6">Role</p>
                    </div>
                </div>
                <div class="content">
                        {{news.description | slice:0:150 }}...
                    <div class="background-icon"><span class="icon-twitter"></span></div>
                </div>
            </div>
            <footer class="card-footer">
                    <a href="#" class="card-footer-item">Edit</a>
                    <a href="#" class="card-footer-item">Delete</a>
                  </footer>
        </div>
    </div>
</div>
<!-- End Developers -->