<div class="columns is-multiline">
    <div class="column is-one-quarter level">
        <div class="level-item has-text-centered notification is-success">
            <div>
            <p class="heading">Tweets</p>
            <p class="title">3,456</p>
            </div>
        </div>
    </div>
    <div class="column is-one-quarter level">
        <div class="level-item has-text-centered notification is-warning">
            <div>
            <p class="heading">Tweets</p>
            <p class="title">3,456</p>
            </div>
        </div>
    </div>
    <div class="column is-one-quarter level">
        <div class="level-item has-text-centered notification is-danger">
            <div>
            <p class="heading">Tweets</p>
            <p class="title">3,456</p>
            </div>
        </div>
    </div>
    <div class="column is-one-quarter level">
        <div class="level-item has-text-centered notification is-info">
            <div>
            <p class="heading">Tweets</p>
            <p class="title">3,456</p>
            </div>
        </div>
    </div>
    <div class="column is-one-quarter level">
        <div class="level-item has-text-centered notification is-dark">
            <div>
            <p class="heading">Tweets</p>
            <p class="title">3,456</p>
            </div>
        </div>
    </div>
    <div class="column is-one-quarter level">
        <div class="level-item has-text-centered notification is-black">
            <div>
            <p class="heading">Tweets</p>
            <p class="title">3,456</p>
            </div>
        </div>
    </div>
</div>